################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagerEngine/.vs/EmployeeManagerEngine
/EmployeeManagerEngine/EmployeeManagerEngine/obj
